body {
    background: transparent;
    font-family: 'Open Sans', sans-serif;
}

h1 {
	font-weight: 600;
	font-size: 3em;
}

.col-md-4{
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-fluid {
    background: #008be2;
    height: 180px;
    color: white
}

.jumbotron {
    position: relative;
    margin-bottom: 25px;
    height: 650px;
    color: #ffffff;
    background: url(http://i.imgur.com/KBh4r5L.jpg);
    background-size: cover;
    background-position: center; 
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.jumbotron .container {
    margin-top: 10%;
}

.fa {
    font-size: 50px;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.candidatecontainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.candidateinfo h4 {
  font-size: 26px;
  letter-spacing: 1px;
}

.candidateinfo > p {
  color: #000000;
  font-size: 16px;
  padding-top: 4px;
  text-align: center;
}

.candidateinfo {
  background: #ffffff;
  background-color: #f9f9f9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 20px 25px;
  margin: 15px;
}