<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="theme.css">
<link rel="stylesheet/less" type="text/css" href="styles.less">
<script src="less.js" type="text/javascript"></script>
</head>
<body>

  <div class="bs-component" data-relatedvars="navbar-inverse-bg,navbar-inverse-border,navbar-inverse-brand-color,navbar-inverse-brand-hover-color,navbar-inverse-brand-hover-bg,navbar-inverse-color,navbar-inverse-link-color,navbar-inverse-link-hover-color,navbar-inverse-link-hover-bg,navbar-inverse-link-active-color,navbar-inverse-link-active-bg,navbar-inverse-link-disabled-color,navbar-inverse-link-disabled-bg,navbar-inverse-toggle-border-color,navbar-inverse-toggle-hover-bg,navbar-inverse-toggle-icon-bar-bg,navbar-inverse-link-active-bg,navbar-inverse-link-active-color,caret-width-base,dropdown-bg,dropdown-fallback-border,dropdown-border,dropdown-divider-bg,dropdown-link-color,dropdown-link-hover-color,dropdown-link-hover-bg,dropdown-link-active-color,dropdown-link-active-bg,dropdown-link-disabled-color,dropdown-header-color">
      <div class="navbar navbar-inverse">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Election WebApp</a>
          </div>
          <div class="navbar-collapse collapse navbar-inverse-collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="polls.html">Polls</a></li>
                    <li><a href="candidates.html">Candidates</a></li>
                    <li><a href="results.html">Results</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                  <li><a href="account_settings.html">Account Settings</a></li>
                  <li><a href="#">Log Out</a></li>
              </ul>
          </div>
      </div>
  </div>

<h3>Candidates</h3>


<div class="panel panel-default">
  <div class="panel-body">
    <form class="navbar-form navbar-left">

      <input type="text" class="form-control col-lg-8" placeholder="Search for a candidate">
      <p class="bs-component" data-relatedvars="btn-font-weight,btn-default-color,btn-default-bg,btn-default-border,btn-primary-color,btn-primary-bg,btn-primary-border,btn-success-color,btn-success-bg,btn-success-border,btn-info-color,btn-info-bg,btn-info-border,btn-warning-color,btn-warning-bg,btn-warning-border,btn-danger-color,btn-danger-bg,btn-danger-border,link-color,link-hover-color,btn-link-disabled-color">
      <button type="submit" class="btn btn-primary"><a href="candidates_results.html">Search</a></button>
      </p>
    </form>
  </div>
</div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Candidate A</strong></h3>
        </div>
        <div class="panel-body">
          Image<br><br>
          <strong>Party: </strong>
          Democratic<br><br>
          <strong>Race: </strong>
          Presidential<br><br>
          <strong>Hometown: </strong>
          Iowa City, IA<br><br>
          <strong>Bio: </strong>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna mi, accumsan sit amet pellentesque sit amet, rhoncus commodo eros. In purus tortor, luctus sed dignissim pharetra, varius at augue. Nullam nec feugiat nibh, sed ornare nisl. Morbi vel enim vel diam convallis maximus id non sem. Pellentesque in erat vulputate, blandit ligula ut, luctus felis. Aliquam eget arcu in augue vestibulum pretium. Nulla iaculis sem at placerat molestie. Praesent eleifend porttitor finibus. Vestibulum in finibus lectus. Sed justo augue, scelerisque et sollicitudin quis, pharetra sed mi.
          <br><br>
          Fusce laoreet porta quam non gravida. Sed sit amet purus purus. Morbi laoreet diam et mi rutrum, vitae auctor eros rhoncus. Nunc nec turpis quis tortor aliquam sollicitudin. Nam nulla nisi, egestas id risus et, congue blandit orci. Curabitur sit amet suscipit turpis. Aliquam sed quam a mauris dignissim placerat quis quis ex.
          <br><br>
          Nulla facilisi. In mollis, nulla eu pellentesque tincidunt, odio nulla rhoncus arcu, non fringilla leo nibh in tortor. Quisque dui dui, consequat non mollis sit amet, lobortis eu odio. Donec dignissim orci quis ex consectetur, in faucibus arcu euismod. Curabitur ullamcorper libero sit amet pharetra laoreet. Sed varius risus non tellus tempor, sed vulputate ligula aliquet. Donec luctus est vel nisi egestas, a porta lectus feugiat. Donec id erat velit. Fusce convallis elit dui, sed scelerisque nunc volutpat at. Phasellus faucibus in ex dignissim posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus sed aliquam erat, eget blandit orci. Praesent facilisis nibh hendrerit libero imperdiet rhoncus. Integer neque ante, molestie et fermentum eget, vulputate vel ante. Etiam ut elementum ante. Sed urna ligula, pretium pretium vehicula molestie, porta quis elit.

        </div>
      </div>

  <div class="panel panel-default">
    <div class="panel-footer">FSE Team 5</div>
  </div>

</body>
</html>
