
{% extends 'vote/login_base.html' %}
{% block content %}
<!doctype html>
    <body>


    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Your Vote Makes A Difference</h1>
          <div class="jumbotron_button text-center">        
              <p><a class="btn btn-primary btn-lg " href="{% url 'vote:login' %}" role="button">Get Started</a></p>
          </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center">
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
            <h2>Vote online within minutes</h2>
        </div>
        <div class="col-md-4 text-center">
            <i class="fa fa-television" aria-hidden="true"></i>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h2>Submit your vote on your PC or mobile device</h2>
        </div>
        <div class="col-md-4 text-center">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <h2>View your voting history and past ballots</h2>
        </div>
      </div>
    </div>
       
    <div class="container-fluid">
        <div class="container text-center">
            <h1>Start Voting Today  </h1>
            <!--<h2>Sign Up Online </h2>-->
            <p><a class="btn btn-default btn-lg" href="{% url 'vote:register' %}" role="button"> Register Now</a></p>
        </div>
    </div>

    <hr>
      
    <div class="container">
      <footer>
        <p>Team 5</p>
      </footer>
    </div>
    
    </body>
</html>

{% endblock %}

