{% extends 'vote/base_user.html' %}
{% block content %}
<!doctype html>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Information</h3>
                    </div>
                    <div class="panel-body">
						<form method="POST" class="login-form">
							{% csrf_token %}
							{{form.as_p}}
							<button type="submit" value="login" class="btn btn-lg btn-success btn-block">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
{% endblock %}