<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="theme.css">
<link rel="stylesheet/less" type="text/css" href="styles.less">
<script src="less.js" type="text/javascript"></script>
</head>
<body>

  <div class="bs-component" data-relatedvars="navbar-inverse-bg,navbar-inverse-border,navbar-inverse-brand-color,navbar-inverse-brand-hover-color,navbar-inverse-brand-hover-bg,navbar-inverse-color,navbar-inverse-link-color,navbar-inverse-link-hover-color,navbar-inverse-link-hover-bg,navbar-inverse-link-active-color,navbar-inverse-link-active-bg,navbar-inverse-link-disabled-color,navbar-inverse-link-disabled-bg,navbar-inverse-toggle-border-color,navbar-inverse-toggle-hover-bg,navbar-inverse-toggle-icon-bar-bg,navbar-inverse-link-active-bg,navbar-inverse-link-active-color,caret-width-base,dropdown-bg,dropdown-fallback-border,dropdown-border,dropdown-divider-bg,dropdown-link-color,dropdown-link-hover-color,dropdown-link-hover-bg,dropdown-link-active-color,dropdown-link-active-bg,dropdown-link-disabled-color,dropdown-header-color">
      <div class="navbar navbar-inverse">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Election WebApp</a>
          </div>
          <div class="navbar-collapse collapse navbar-inverse-collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="polls.html">Polls</a></li>
                    <li><a href="candidates.html">Candidates</a></li>
                    <li><a href="results.html">Results</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                  <li><a href="account_settings.html">Account Settings</a></li>
                  <li><a href="#">Log Out</a></li>
              </ul>
          </div>
      </div>
  </div>


      <div class="bs-component" data-relatedvars="alert-padding,alert-border-radius,alert-link-font-weight,alert-success-bg,alert-success-border,alert-success-text,alert-info-bg,alert-info-border,alert-info-text,alert-warning-bg,alert-warning-border,alert-warning-text,alert-danger-bg,alert-danger-border,alert-danger-text">
          <div class="alert alert-dismissable alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Welcome, User!</strong> You successfully logged in.
          </div>
      </div>

      <div class="bs-component" data-relatedvars="alert-padding,alert-border-radius,alert-link-font-weight,alert-success-bg,alert-success-border,alert-success-text,alert-info-bg,alert-info-border,alert-info-text,alert-warning-bg,alert-warning-border,alert-warning-text,alert-danger-bg,alert-danger-border,alert-danger-text">
          <div class="alert alert-dismissable alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Heads up!</strong> This <a href="#" class="alert-link">election</a> is about to close.
          </div>
      </div>



    <div class="bs-component" data-relatedvars="panel-bg,panel-border-radius,panel-body-padding,panel-border-radius,panel-footer-bg,panel-inner-border,panel-default-border,panel-default-text,panel-default-heading-bg,panel-primary-border,panel-primary-text,panel-primary-heading-bg,panel-success-border,panel-success-text,panel-success-heading-bg,panel-info-border,panel-info-text,panel-info-heading-bg,panel-warning-border,panel-warning-text,panel-warning-heading-bg,panel-danger-border,panel-danger-text,panel-danger-heading-bg,panel-heading-padding,panel-footer-padding">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Active Polls</strong></h3>
        </div>
        <div class="panel-body">
            <div class="bs-component" data-relatedvars="caret-width-base,dropdown-bg,dropdown-fallback-border,dropdown-border,dropdown-divider-bg,dropdown-link-color,dropdown-link-hover-color,dropdown-link-hover-bg,dropdown-link-active-color,dropdown-link-active-bg,dropdown-link-disabled-color,dropdown-header-color,nav-link-padding,nav-link-hover-bg,nav-disabled-link-color,nav-disabled-link-hover-color,link-color,nav-tabs-border-color,nav-tabs-link-hover-border-color,nav-tabs-active-link-hover-color,nav-tabs-active-link-hover-bg,nav-tabs-active-link-hover-border-color">
              <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                <li class="active"><a href="#random2016" data-toggle="tab">2016 Random Election</a></li>
                <li><a href="#random2018" data-toggle="tab">2018 Random Election</a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="random2016">
                  <p>
                    <p class="bs-component" data-relatedvars="btn-font-weight,btn-default-color,btn-default-bg,btn-default-border,btn-primary-color,btn-primary-bg,btn-primary-border,btn-success-color,btn-success-bg,btn-success-border,btn-info-color,btn-info-bg,btn-info-border,btn-warning-color,btn-warning-bg,btn-warning-border,btn-danger-color,btn-danger-bg,btn-danger-border,link-color,link-hover-color,btn-link-disabled-color">
                      Have you voted? Click the button below to get started.
                      <p><button type="button" class="btn btn-primary">Vote</button><p>
                    </p>
                  </p>
                </div>
                <div class="tab-pane fade" id="random2018">
                  <p>
                    <p class="bs-component" data-relatedvars="btn-font-weight,btn-default-color,btn-default-bg,btn-default-border,btn-primary-color,btn-primary-bg,btn-primary-border,btn-success-color,btn-success-bg,btn-success-border,btn-info-color,btn-info-bg,btn-info-border,btn-warning-color,btn-warning-bg,btn-warning-border,btn-danger-color,btn-danger-bg,btn-danger-border,link-color,link-hover-color,btn-link-disabled-color">
                      Have you voted? Click the button below to get started.
                      <p><button type="button" class="btn btn-primary">Vote</button><p>
                    </p>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Upcoming Polls</strong></h3>
        </div>
        <div class="panel-body">
          <div class="bs-component" data-relatedvars="caret-width-base,dropdown-bg,dropdown-fallback-border,dropdown-border,dropdown-divider-bg,dropdown-link-color,dropdown-link-hover-color,dropdown-link-hover-bg,dropdown-link-active-color,dropdown-link-active-bg,dropdown-link-disabled-color,dropdown-header-color,nav-link-padding,nav-link-hover-bg,nav-disabled-link-color,nav-disabled-link-hover-color,link-color,nav-tabs-border-color,nav-tabs-link-hover-border-color,nav-tabs-active-link-hover-color,nav-tabs-active-link-hover-bg,nav-tabs-active-link-hover-border-color">
            <ul class="nav nav-tabs" style="margin-bottom: 15px;">
              <li class="active"><a href="#gubernatorial2018" data-toggle="tab">2018 Gubernatorial Election</a></li>
              <li><a href="#presidential2020" data-toggle="tab">2020 Presidential Election</a></li>
              <li><a href="#presidential2024" data-toggle="tab">2024 Presidential Election</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="gubernatorial2018">
                <p>
                  <p class="bs-component" data-relatedvars="btn-font-weight,btn-default-color,btn-default-bg,btn-default-border,btn-primary-color,btn-primary-bg,btn-primary-border,btn-success-color,btn-success-bg,btn-success-border,btn-info-color,btn-info-bg,btn-info-border,btn-warning-color,btn-warning-bg,btn-warning-border,btn-danger-color,btn-danger-bg,btn-danger-border,link-color,link-hover-color,btn-link-disabled-color">
                    Have you voted? Click the button below to get started.
                    <p><button type="button" class="btn btn-primary disabled">Vote</button><p>
                  </p>
                </p>
              </div>
              <div class="tab-pane fade" id="presidential2020">
                  <p class="bs-component" data-relatedvars="btn-font-weight,btn-default-color,btn-default-bg,btn-default-border,btn-primary-color,btn-primary-bg,btn-primary-border,btn-success-color,btn-success-bg,btn-success-border,btn-info-color,btn-info-bg,btn-info-border,btn-warning-color,btn-warning-bg,btn-warning-border,btn-danger-color,btn-danger-bg,btn-danger-border,link-color,link-hover-color,btn-link-disabled-color">
                    Have you voted? Click the button below to get started.
                    <p><button type="button" class="btn btn-primary disabled">Vote</button></p>
                  </p>
              </div>
              <div class="tab-pane fade" id="presidential2024">
                  <p class="bs-component" data-relatedvars="btn-font-weight,btn-default-color,btn-default-bg,btn-default-border,btn-primary-color,btn-primary-bg,btn-primary-border,btn-success-color,btn-success-bg,btn-success-border,btn-info-color,btn-info-bg,btn-info-border,btn-warning-color,btn-warning-bg,btn-warning-border,btn-danger-color,btn-danger-bg,btn-danger-border,link-color,link-hover-color,btn-link-disabled-color">
                    Have you voted? Click the button below to get started.
                    <p><button type="button" class="btn btn-primary disabled">Vote</button></p>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Inactive Polls</strong></h3>
        </div>
        <div class="panel-body">
          <div class="bs-component" data-relatedvars="caret-width-base,dropdown-bg,dropdown-fallback-border,dropdown-border,dropdown-divider-bg,dropdown-link-color,dropdown-link-hover-color,dropdown-link-hover-bg,dropdown-link-active-color,dropdown-link-active-bg,dropdown-link-disabled-color,dropdown-header-color,nav-link-padding,nav-link-hover-bg,nav-disabled-link-color,nav-disabled-link-hover-color,link-color,nav-tabs-border-color,nav-tabs-link-hover-border-color,nav-tabs-active-link-hover-color,nav-tabs-active-link-hover-bg,nav-tabs-active-link-hover-border-color">
            <ul class="nav nav-tabs" style="margin-bottom: 15px;">
              <li class="active"><a href="#presidential2016" data-toggle="tab">2016 Presidential Election</a></li>
              <li><a href="#presidential2012" data-toggle="tab">2012 Presidential Election</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="presidential2016">
                <p>
                  View the 2016 Presidential Election results <a href="#"><strong>here</strong></a>.
                </p>
              </div>
              <div class="tab-pane fade" id="presidential2012">
                <p>
                  View the 2012 Presidential Election results <a href="#"><strong>here</strong></a>.
                </p>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

  <div class="panel panel-default">
    <div class="panel-footer">FSE Team 5</div>
  </div>

</body>
</html>
